body{
    background-color: cornsilk;
    padding: 0;
    margin: 0;
}
a{
    color: blue;
    text-decoration: none;
}
.borderbox{
    border-style: solid;
    border-width: thin;
}
.flexbox{
    display: flex;
    width: 100%;
    height: 100%
}

.flexbox nav{
    max-width: 20%;
}
.flexbox main{
    flex-grow: 1;
    
}

.titlebox{
    background-color: burlywood;
    cursor: default;
    display: block;
    font-weight: bold;
    text-align: center;
}